.navbar {
  height: 64px;
  width: 100%;
  max-width: 1200px;
  & > svg {
    width: 26px;
    height: 30px;
    color: white;
    max-width: 5%;
  }
}
.cellphones-logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url(https://cdn.cellphones.com.vn/media/icon/icons_menubar-11.svg);
  background-repeat: no-repeat;
  width: 20%;
  max-width: 167px;
  height: 30px;
  background-size: 450px;
  background-position: -54px -65.5px;
}

.page-overlay {
  visibility: hidden;
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.53);
  z-index: 30;
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  .active {
    visibility: visible;
    opacity: 1;
  }
}
.right-nav-infor {
  display: flex;
  justify-content: space-between;
  width: 30%;
  max-width: 424px;
  min-width: 340px;
  color: white;
  svg {
    width: 28px;
    height: 28px;
    margin-right: 5px;
  }
  p {
    font-size: 14px;
    margin-bottom: 0;
  }
  .contact-wrapper {
    display: flex;
    align-items: center;
    .contact-content {
      strong {
        font-weight: 700;
      }
    }
  }
  .location-wrapper,
  .cart-wrapper {
    display: flex;
    align-items: center;
    .location-icon {
      width: 28px;
      height: 28px;
      background-size: 500px;
      background-position: -93px -262px;
      display: inline-block;
      vertical-align: middle;
      background-image: url(https://cdn.cellphones.com.vn/media/icon/icons_menubar-11.svg);
      background-repeat: no-repeat;
      margin-right: 5px;
    }
    .cart-icon {
      width: 28px;
      height: 28px;
      background-size: 470px;
      background-position: -174.5px -245.5px;
      display: inline-block;
      vertical-align: middle;
      background-image: url(https://cdn.cellphones.com.vn/media/icon/icons_menubar-11.svg);
      background-repeat: no-repeat;
      margin-right: 5px;
    }
  }
}

.mobile-navbar {
  width: 100%;
  .fa-bars {
    width: 26px;
    height: 30px;
    color: white;
    max-width: 5%;
  }
}

@media (max-width: 1024px) {
  .contact-wrapper,
  .location-wrapper {
    display: none !important;
  }
  .cart-wrapper > p {
    display: none;
  }
  .navbar > svg {
    order: 1;
  }
  .navbar > .cellphones-logo {
    order: 2;
  }
  .cart-icon {
    width: 28px;
    height: 28px;
    background-size: 470px;
    background-position: -174.5px -245.5px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(https://cdn.cellphones.com.vn/media/icon/icons_menubar-11.svg);
    background-repeat: no-repeat;
    margin-right: 5px;
  }
  .search-wrapper {
    width: 100% !important;
  }
} ;
